<div class="tab-content-component">
    <div class="container">
        <div class="tab-content">
            <div id="reputed_faculty" class="tab-pane fade in active tab-pane-academic-details clearfix">
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/academic-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Academic Facilities</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/accomodation.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Accomodation</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/campus-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Campus Facilities</h3>
                        <p>learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/computer-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Computer Facilities</h3>
                        <p>Sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
            </div>
            <div id="focus_on_research" class="tab-pane fade tab-pane-academic-details">
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/academic-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Academic Facilities</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/accomodation.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Accomodation</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/campus-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Campus Facilities</h3>
                        <p>learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/computer-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Computer Facilities</h3>
                        <p>Sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
            </div>
            <div id="industry_associations" class="tab-pane fade tab-pane-academic-details">
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/academic-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Academic Facilities</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/accomodation.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Accomodation</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/campus-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Campus Facilities</h3>
                        <p>learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/computer-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Computer Facilities</h3>
                        <p>Sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
            </div>
            <div id="international_associations" class="tab-pane fade tab-pane-academic-details">
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/academic-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Academic Facilities</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/accomodation.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Accomodation</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/campus-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Campus Facilities</h3>
                        <p>learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/computer-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Computer Facilities</h3>
                        <p>Sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
            </div>
            <div id="infrastrucutre_development" class="tab-pane fade tab-pane-academic-details">
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/academic-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Academic Facilities</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/accomodation.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Accomodation</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/campus-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Campus Facilities</h3>
                        <p>learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/computer-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Computer Facilities</h3>
                        <p>Sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
            </div>
            <div id="success_stories" class="tab-pane fade tab-pane-academic-details">
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/academic-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Academic Facilities</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/accomodation.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Accomodation</h3>
                        <p>It abounds in well equipped &amp; sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching and learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/campus-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Campus Facilities</h3>
                        <p>learning process in tune with the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
                <div class="tab-contents-wrapper">
                    <div class="tab-image">
                        <img alt="image" class="" src="images/computer-facilities.jpg">
                    </div>
                    <div class="tab-content-block">
                        <h3>Computer Facilities</h3>
                        <p>Sophisticated laboratories, well stocked libraries to enhance &amp; facilitate the entire teaching the noble ambition &amp; aspirations of Prof. Kamal Ghanshala to keep the institution ever growing &amp; developing to attain new heights.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>