<div class="geu-content-page-main-wrapper">
    <div class="geu-content-page-banner-wrapper">
        <div class="content-page-banner">
            <img src="images/content-page-banner.jpg" alt="GEU Campus Top View">
        </div>
    </div>
    <div class="container">
        <div class="main-content-wrapper">
            <div class="breadcrumb">
                <ul>
                    <li><a href="">About</a></li>
                    <li>The University</li>
                </ul>
            </div>
            <section class="tata-tech-course-content-page-wrapper">
                <h1>Tata Tech Course Gallery</h1>
                <div class="tata-tech-course-component">
                    <div class="tata-tech-course-component-wrapper">
                        <div class="tata-tech-content-page-image">
                            <img src="images/tata-technologies-01.jpg" alt="img">
                        </div>
                        <div class="tata-tech-content-page-descriptions">
                            <h3>B. Tech</h2>
                           <p>B.Tech Mechanical Engineering (Automobile Engineering)</p>
                        </div>
                     </div>
                     <div class="tata-tech-course-component-wrapper">
                        <div class="tata-tech-content-page-image">
                           <img src="images/tata-technologies-02.jpg" alt="img">
                        </div>
                        <div class="tata-tech-content-page-descriptions">
                           <h3> B. Tec</h2>
                           <p>B.TECH Mechanical Engineering  (Industry Integrated)</p>
                        </div>
                     </div>
                     <div class="tata-tech-course-component-wrapper">
                        <div class="tata-tech-content-page-image">
                           <img src="images/tata-technologies-03.jpg" alt="img">
                        </div>
                        <div class="tata-tech-content-page-descriptions">
                           <h3> B. Tec</h2>
                           <p>B.Tech Mechanical Engineering (Robotics and Automation)</p>
                        </div>
                     </div>
                     <div class="tata-tech-course-component-wrapper">
                        <div class="tata-tech-content-page-image">
                           <img src="images/tata-technologies-04.jpg" alt="img">
                        </div>
                        <div class="tata-tech-content-page-descriptions">
                           <h3> B. Tec</h2>
                           <p>B.Tech Electronics & Communication(Internet of Things)</p>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>