<h1>Upcoming Events</h1>
<section class="upcoming-events-component upcoming-event-slider slider">
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-01.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-02.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-03.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/three-coloumn-img-04.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/three-coloumn-img-05.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/three-coloumn-img-06.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-01.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-02.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-03.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/three-coloumn-img-04.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/three-coloumn-img-05.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/three-coloumn-img-06.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-01.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-02.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-03.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-01.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-02.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="upcoming-events-component-wrapper">
        <div class="content-page-image">
            <img src="images/news-and-events-03.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
</section>
<div class="slider-arrows">
    <a class="next">Next</a>
</div>
<span class="pagingInfo"></span>