<section class="content-page-wrapper">
    <h1>Contact Us</h1>
    <div class="contactus-wrapper">
        <div class="locations-wrapper">
            <h4>Call: 7085684051 / 7005622826</h4>
            <div class="address-details" id="AddressSelect">
                <ul class="address-list">
                </ul>
                <select class="mobile-address-list">
                </select>
            </div>
        </div>
        <div class="address-container">
            <div class="address"></div>
            <div id="map"></div>
        </div>
    </div>
</section>