<div class="image-container padding-30">
    <div class="image-block">
        <img src="images/chairman.png" alt="Chairman" class="img-responsive">
    </div>
    <div class="content-block">
        <div class="content-top">
            <h4>"A Visionary who dreamt and realized his dreams"</h4>
            <p>"We strive to create a learning environment for students where they unfold their potential and closely interact with the practitioners from the corporate world" </p>
        </div>
        <div class="content-bottom">
            <p>Prof. (Dr) Kamal Ghanshala</p>
            <p>President, Graphic Era Group of Institutions</p>
            <p>Ph.D, Computer Science. M. Tech, B.E.</p>
        </div>
        <div class="buttons-wrapper one-button">
            <div class="one-button">
                <a href="#">Undergraduate Program</a>
            </div>
        </div>
    </div>
</div>