<section class="statistics">
    <div class="container">
        <div class="statistics-wrapper">
            <div class="statistics-block clearfix">
                <div class="statistics-image">
                    <img src="images/research-papers.png" alt="Research Papers" class="img-responsive">
                </div>
                <div class="statistics-content">
                    <h3 class="count">1400</h3><span>+</span>
                    <p>Research Papers Published</p>
                </div>
            </div>
        </div>
        <div class="statistics-wrapper">
            <div class="statistics-block clearfix">
                <div class="statistics-image alumnus">
                    <img src="images/alumnus.png" alt="Alumnus" class="img-responsive">
                </div>
                <div class="statistics-content">
                    <h3 class="count">18000</h3><span>+</span>
                    <p>Alumnus</p>
                </div>
            </div>
        </div>
        <div class="statistics-wrapper">
            <div class="statistics-block clearfix">
                <div class="statistics-image students-placed">
                    <img src="images/students-placed.png" alt="Students Placed" class="img-responsive">
                </div>
                <div class="statistics-content">
                    <h3 class="count"> 18000</h3><span>+</span>
                    <p>Students Placed
                        <br> Since 2006</p>
                </div>
            </div>
        </div>
        <div class="statistics-wrapper">
            <div class="statistics-block clearfix">
                <div class="statistics-image updated-computers">
                    <img src="images/updated-computers.png" alt="Updated Computers in Lab" class="img-responsive">
                </div>
                <div class="statistics-content">
                    <h3 class="count">4000</h3><span>+</span>
                    <p>Updated Computers
                        <br> in Lab</p>
                </div>
            </div>
        </div>
        <div class="statistics-wrapper">
            <div class="statistics-block clearfix">
                <div class="statistics-image scholarship">
                    <img src="images/scholarship.png" alt="Scholarship" class="img-responsive">
                </div>
                <div class="statistics-content">
                    <h3 class="count">23</h3><span>Crores+</span>
                    <p>Scholarship Distributed Among Meritorious Students</p>
                </div>
            </div>
        </div>
    </div>
</section>