<div class="download-page-content">
    <div class="heading-section">
        <h3>Download Component </h3>
    </div>
    <div class="download-section-wrapper">
        <a class="download-section" href="#">
            <span class="icon"></span>
            <div class="title">Title Comes Here - sit amet, consectetur adipisicing elit (GEU) [PDF 2.2MB] <i class="fas fa-angle-right"></i></div>
        </a>
        <a class="download-section" href="#">
            <span class="icon word"></span>
            <div class="title">Guide on how to complete the Application for University form [DOCX 26KB]  <i class="fas fa-angle-right"></i></div>
        </a>
        <a class="download-section" href="#">
            <span class="icon excel"></span>
            <div class="title">Title Comes Here - sit amet, consectetur adipisicing elit (GEU) [PPT 2.2MB] <i class="fas fa-angle-right"></i></div>
        </a>
        <a class="download-section" href="#">
            <span class="icon ppt"></span>
            <div class="title">Title Comes Here - sit amet, consectetur adipisicing elit (GEU) [EXCEL 2.2MB] <i class="fas fa-angle-right"></i></div>
        </a>
    </div>
</div>