<div class="text-carousel-wrapper">
    <div class="text-carousel-content">
        <h3>Corporate Speak</h3>
        <div class="text-carousel owl-theme">
            <div class="items">
                <div class="border-wrapper clearfix">
                    <div class="border-left"></div>
                    <div class="border-right"></div>
                </div>
                <p>It was great experience visiting GEU campus. The student quality was good not only in terms of academic knowledge but also in terms of their personality and grooming. We look forward...</p>
                <div class="border"></div>
                <div class="text-carousel-bottom-section">
                    <p class="bold">Mr. Venkatesh Sarvasiddhi, </p>
                    <p>Head-Student Skills,Employability Faculty Development, Microsoft India</p>
                </div>
            </div>
            <div class="items">
                <div class="border-wrapper clearfix">
                    <div class="border-left"></div>
                    <div class="border-right"></div>
                </div>
                <p>It was great experience visiting GEU campus. The student quality was good not only in terms of academic knowledge but also in terms of their personality and grooming. We look forward...</p>
                <div class="border"></div>
                <div class="text-carousel-bottom-section">
                    <p class="bold">Mr. Venkatesh Sarvasiddhi, </p>
                    <p>Head-Student Skills,Employability Faculty Development, Microsoft India</p>
                </div>
            </div>
        </div>
        <a class="default-button" href="#">See More</a>
    </div>
</div>