  <!--video list component markup starts-->
               <div class="video-list-component">
                <div class="video-list-row">
                    <div class="video-item-wrapper selected" data-videoid="ZWGvRsQjdxs">
                        <div class="video-image">
                            <img src="images/three-oloumn-img-01.jpg" alt="img">
                        </div>

                      <div class="video-lsit-descriptions">
                            <h3>Lorem ipsum dolor sit</h3>
                        </div>
                    </div> 

                    <div class="video-item-wrapper" data-videoid="7nEHLy_Qocc">
                        <div class="video-image">
                            <img src="images/three-coloumn-img-02.jpg" alt="img">
                        </div>

                      <div class="video-lsit-descriptions">
                            <h3>Lorem ipsum dolor sit</h3>
                        </div>
                    </div> 

                    <div class="video-item-wrapper" data-videoid="ZWGvRsQjdxs">
                        <div class="video-image">
                            <img src="images/three-coloumn-img-03.jpg" alt="img">
                        </div>

                      <div class="video-lsit-descriptions">
                            <h3>Lorem ipsum dolor sit</h3>
                        </div>
                    </div> 
                </div>


                <div class="video-list-row">
                    <div class="video-item-wrapper" data-videoid="ZWGvRsQjdxs">
                        <div class="video-image">
                            <img src="images/three-oloumn-img-01.jpg" alt="img">
                        </div>

                      <div class="video-lsit-descriptions">
                            <h3>Lorem ipsum dolor sit</h3>
                        </div>
                    </div> 

                    <div class="video-item-wrapper" data-videoid="ZWGvRsQjdxs">
                        <div class="video-image">
                            <img src="images/three-coloumn-img-02.jpg" alt="img">
                        </div>

                      <div class="video-lsit-descriptions">
                            <h3>Adipisicing elit, sed do eiusmod tempor incididunt</h3>
                        </div>
                    </div> 

                    <div class="video-item-wrapper" data-videoid="ZWGvRsQjdxs">
                        <div class="video-image">
                            <img src="images/three-coloumn-img-03.jpg" alt="img">
                        </div>

                      <div class="video-lsit-descriptions">
                            <h3>Lorem ipsum dolor sit</h3>
                        </div>
                    </div> 
                </div>

                <div class="load-more-videos">Load More</div>
                
                </div>
                <!--video list component markup ends-->