<div class="geu-banner-carousel owl-theme">
    <div class="items">
        <img src="images/carousel/geu-carousel-banner-1.jpg" alt="GEU Dehradun Top View">
    </div>
    <div class="items">
        <img src="images/carousel/geu-carousel-banner-2.jpg" alt="GEU Dehradun Front View">
    </div>
    <div class="items">
        <img src="images/carousel/geu-carousel-banner-3.jpg" alt="GEU TATA">
    </div>
    <div class="items">
        <img src="images/carousel/geu-carousel-banner-4.jpg" alt="GEU TATA">
    </div>
</div>