<!--site map component markup starts-->
              
<div class="sitemap-component">
        <div class="sitemap-col">
            <ul>
                <li>
                <a href="#">About GEU</a>
                <ul>
                    <li><a href="#">The University</a></li>
                    <li><a href="#">The University</a></li>
                    <li><a href="#">The University</a></li>
                    <li><a href="#">The University</a></li>
                    <li><a href="#">The University</a></li>
                    <li><a href="#">The University</a></li>
                </ul>
                </li>

                <li>
                        <a href="#">WHY GEU?</a>
                        <ul>
                            <li><a href="#">Placements</a></li>
                            <li><a href="#">World Class Infrastructure</a></li>
                            <li><a href="#">Research Highlights</a></li>
                            <li><a href="#">Reputed Faculty</a></li>
                            <li><a href="#">Guest Lectures/Workshops</a></li>
                            <li><a href="#">Teaching Methodology</a></li>
                            <li><a href="#">Academic Programmes & Scholarshipips</a></li
                        </ul>
                        </li>

            </ul>
        </div>
        <div class="sitemap-col">
                <ul>
                    <li>
                    <a href="#">About GEU</a>
                    <ul>
                        <li><a href="#">The University</a></li>
                        <li><a href="#">The University</a></li>
                        <li><a href="#">The University</a></li>
                        <li><a href="#">The University</a></li>
                        <li><a href="#">The University</a></li>
                        <li><a href="#">The University</a></li>
                    </ul>
                    </li>

                    <li>
                            <a href="#">WHY GEU?</a>
                            <ul>
                                <li><a href="#">Placements</a></li>
                                <li><a href="#">World Class Infrastructure</a></li>
                                <li><a href="#">Research Highlights</a></li>
                                <li><a href="#">Reputed Faculty</a></li>
                                <li><a href="#">Guest Lectures/Workshops</a></li>
                                <li><a href="#">Teaching Methodology</a></li>
                                <li><a href="#">Academic Programmes & Scholarshipips</a></li
                            </ul>
                            </li>

                </ul>
            </div>
        <div class="sitemap-col">
            <ul>
              
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">NAAC SSR</a></li>
                    <li><a href="#">NOTICES, CIRCULARS & EVENTS</a></li>
                    <li><a href="#">STUDENT AREA</a></li>
                    <li><a href="#">CAREERS</a></li>
                    <li><a href="#">PRESS & MEDIA</a></li>
                    <li><a href="#">PHOTO GALLERY</a></li>
                    <li><a href="#">ALUMNI PORTAL</a></li>
                    <li><a href="#">EXAM PORTAL</a></li>
                    <li><a href="#">LIBRARY PORTAL</a></li>
                    <li><a href="#">SITEMAP</a></li>
                    <li><a href="#">DISCLAIMER</a></li>
                    <li><a href="#">PRIVACY POLICY</a></li>
            </ul>
        </div>
</div>
<!--site map component markup ends-->