    .fancybox-custom .fancybox-skin {
        box-shadow: 0 0 50px #222;
    }

    .image-gallery-content-wrapper {
        width: 80%;
        margin: 0 auto;
    }


    .image-gallery-wrapper {
        margin-bottom: 20px;
    }


    .content-page-image a img {
        width: 100%;
    }

    .image-gallery-component-wrapper {
        width: 200px !important;
        display: inline-block;
        vertical-align: top;
        margin: 0 9px 0 0;
    }

    .image-gallery-component-wrapper .fancybox {
        display: block !important;
    }
    .image-gallery-component-wrapper:last-child {
        margin-right: 0;
    }

    .content-page-image {
        margin: 0 0 13px;
    }


    .slick-dots {
        text-align: right !important;
        width: 300px !important;
        right: 40px !important;
    }

    .slider .slick-dots li {
        width: 25px;
        margin: 0;
    }

    .slider .slick-dots .slick-active a {
        background: #dc2e27;
        color: #fff;
        text-align: center;
        padding: 3px;
    }

    .slider-arrows a {
        margin-top: -25px;
        float: right;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

    .slider-arrows a.prev {
        margin-right: 100px;
    }

    .main-content-wrapper h1 {
        font-size: 32px;
        color: #373737;
        padding: 0 0 30px;
        margin: 0 0 30px;
        border-bottom: 1px solid #f5f4f3;
    }

    .pagingInfo {
        margin-top: -25px;
        float: left;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }
    /*Mobile and Small Device Styles*/

    @media only screen and (min-width: 0) and (max-width: 767px) {
        .pagingInfo,
        .next,
        .slick-dots {
            font-size: 12px;
        }
        .upcoming-events-component-wrapper:first-child {
            margin-left: 0;
        }
        .image-gallery-component-wrapper {
            width: 100% !important;
        }

    }
    /*Tablet and Medium Device Styles*/

    @media only screen and (min-width: 768px) and (max-width: 1199px) {
        .image-gallery-component-wrapper {
            width: 96% !important;
        }
        .image-gallery-component {
            width: 50%  !important;
        }
        .slick-track {
            width: 98% !important;
        }
    }