<section class="glorious-wrapper">
    <div class="container">
        <div>
            <h2>25 Glorious years of <span class="brand-color">Graphic Era</span></h2>
            <div class="glorious-carousel-image owl-carousel owl-theme">
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
                <div class="item">
                    <img src="images/glorious-carousel-2010.jpg" alt="Glorius Carousel 2010" class="img-responsive">
                    <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner</p>
                </div>
            </div>
            <div class="glorious-carousel-year owl-carousel owl-theme navigate">
                <div class="item" data-hash="a">
                    <a class="button secondary url">1993</a>
                </div>
                <div class="item" data-hash="b">
                    <a class="button secondary url">1996</a>
                </div>
                <div class="item" data-hash="c">
                    <a class="button secondary url">2000</a>
                </div>
                <div class="item" data-hash="d">
                    <a class="button secondary url">2004</a>
                </div>
                <div class="item" data-hash="e">
                    <a class="button secondary url">2007</a>
                </div>
                <div class="item" data-hash="f">
                    <a class="button secondary url">2009</a>
                </div>
                <div class="item" data-hash="g">
                    <a class="button secondary url">2013</a>
                </div>
                <div class="item" data-hash="h">
                    <a class="button secondary url">2016</a>
                </div>
                <div class="item" data-hash="i">
                    <a class="button secondary url">2017</a>
                </div>
                <div class="item" data-hash="jh">
                    <a class="button secondary url">2018</a>
                </div>
            </div>
        </div>
    </div>
</section>