<div class="find-a-course-section">
    <div class="container">
        <h3>Find a Course</h3>
        <div class="course-details-wrapper">
            <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Biotechnology</a></li>
                <li><a href="#">Computer Science &amp; Engineering</a></li>
                <li><a href="#">Electronics &amp; Communication Engineering</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Petroleum Engineering</a></li>
                <li><a href="#">Allied Sciences</a></li>
                <li><a href="#">Electrical Engineering</a></li>
                <li><a href="#">Management Studies</a></li>
                <li><a href="#">Commerce</a></li>
                <li><a href="#">Hospitality Management</a></li>
                <li><a href="#">Computer Application</a></li>
                <li><a href="#">Humanities &amp; Social Science</a></li>
                <li><a href="#">Life Science</a></li>
                <li><a href="#">Management Studies</a></li>
                <li><a href="#">Commerce</a></li>
                <li><a href="#">Hospitality Management</a></li>
                <li><a href="#">Computer Application</a></li>
                <li><a href="#">Humanities &amp; Social Science</a></li>
                <li><a href="#">Life Science</a></li>
                <li><a href="#">Life Science</a></li>
            </ul>
        </div>
    </div>
</div>