<h1>Gallery - Research - Placement Stats</h1>
<section class="cards-with-text-section cards-with-text-slider">
    <a href="home.html" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Home</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Education</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Sponsored Research Grants</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Awards and Honors to Students</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">List of Publications</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Home</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Education</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Sponsored Research Grants</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Awards and Honors to Students</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">List of Publications</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Home</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Education</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Sponsored Research Grants</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">Awards and Honors to Students</div>
        </div>
    </a>
    <a href="#" class="cards-with-text-content">
        <div class="cards-with-text-content-wrap">
            <div class="cards-with-text-textcontent">List of Publications</div>
        </div>
    </a>
</section>
<div class="slider-arrows">
    <a class="next">Next</a>
</div>
<span class="pagingInfo"></span>