<div class="tab-switch-component">
    <div class="container">
        <div class="row">
            <div class="tab-wrapper">
                <div class="tab-nav-wrapper">
                    <ul class="nav">
                        <li><a data-toggle="tab" href="#reputed_faculty">Reputed Faculty</a></li>
                        <li><a data-toggle="tab" href="#focus_on_research">Focus On Research</a></li>
                        <li class="active"><a data-toggle="tab" href="#world_class_infrastructure">World Class Infrastructure</a></li>
                        <li><a data-toggle="tab" href="#industry_associations">Industry Associations</a></li>
                        <li><a data-toggle="tab" href="#international_associations">International Associations</a></li>
                        <li><a data-toggle="tab" href="#infrastrucutre_development">Infrastrucutre Development</a></li>
                        <li><a data-toggle="tab" href="#success_stories">Success Stories</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>