<section class="faculty-main-section">
    <h1>Content Headline - Faculty Component</h1>
    <div class="faculty-component">
        <div class="faculty-componentt-wrapper clearfix">
            <div class="faculty-drop-down-content">
                <div class="faculty-form">
                    <div class="form-group">
                        <div class="input-group-custom">
                            <div class="select">
                                <select name="faculty-department" id="faculty-department" class=".selectdisabled">
                                    <option value="facultyDepartment">--Select Depat--</option>
                                    <option value="Department of Civi">Department of Civi</option>
                                    <option value="Department of Biotechnology">Department of Biotechnology</option>
                                    <option value="Department of Electronics">Department of Electronics</option>
                                    <option value="Department of Electrical">Department of Electrical </option>
                                    <option value="Department of Mechanical">Department of Mechanical</option>
                                    <option value="Department of Petroleum">Department of Petroleum </option>
                                    <option value="Department of Computer Science">Department of Computer Science</option>
                                    <option value="Department of Allied Sciences">Department of Allied Sciences</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-custom">
                            <div class="select">
                                <select name="faculty-department" id="faculty-department-selection" class=".selectdisabled">
                                    <option selected="selected" value="0">-Select Department-</option>
                                    <option value="16">Department of Civi</option>
                                    <option value="17">Department of Biotechnology</option>
                                    <option value="18">Department of Electronics</option>
                                    <option value="19">Department of Electrical </option>
                                    <option value="21">Department of Mechanical </option>
                                    <option value="22">Department of Petroleum </option>
                                    <option value="23">Department of Computer Science</option>
                                    <option value="39">Department of Allied Sciences</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faculty-content-page-component faculty-slider slider">
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-01.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-02.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-03.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/three-coloumn-img-04.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/three-coloumn-img-05.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/three-coloumn-img-06.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-01.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-02.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-03.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/three-coloumn-img-04.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/three-coloumn-img-05.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/three-coloumn-img-06.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-01.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-02.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-03.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-01.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-02.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
    <div class="faculty-content-page-component-wrapper">
        <div class="faculty-content-page-image">
            <img src="images/news-and-events-03.jpg" alt="Upcoming Events" class="img-responsive">
        </div>
        <div class="content-page-descriptions textWrapper">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
        </div>
    </div>
</section>
<div class="slider-arrows">
    <a class="next"> Next &gt; </a>
    <a class="prev">&lt; Prev </a>
</div>
<span class="pagingInfo"></span>