<div class="accordion-container" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">
                                Undergraduate Program
                            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="heading">B.Tech Programs</div>
                <div class="sub-heading">Specific specializations in the fields of</div>
                <p>Computer Science and Engineering | Electronics and Communication Engineering | Electronics and Communication Engineering| Mobile Engineering | Information Technology | Mechanical Engineering | Civil Engineering | Electrical Engineering | Biotechnology | Petroleum Engineering</p>
                <div class="heading">B.Tech Industry Collaboration</div>
                <p>B.Tech CSE with Open Specialization in Cloud Computing | Big Data Analytics | Cyber Security | Mobile Computing | Internet of Things | B.Tech EE (Renewable Resources)</p>
                <div class="heading">B.Tech in TATA Technologies Centre of Excellence Partner Labs</div>
                <p>B.Tech Mech Engineering with specialization in Automobile Engineering | Robotics &amp; Automation| B.Tech Electronics and Communication Engineering (Internet of Things)</p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="panel-title">
                                Postgraduate Program
                            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="heading">B.Tech Programs</div>
                <div class="sub-heading">Specific specializations in the fields of</div>
                <p>Computer Science and Engineering | Electronics and Communication Engineering | Electronics and Communication Engineering| Mobile Engineering | Information Technology | Mechanical Engineering | Civil Engineering | Electrical Engineering | Biotechnology | Petroleum Engineering</p>
                <div class="heading">B.Tech Industry Collaboration</div>
                <p>B.Tech CSE with Open Specialization in Cloud Computing | Big Data Analytics | Cyber Security | Mobile Computing | Internet of Things | B.Tech EE (Renewable Resources)</p>
                <div class="heading">B.Tech in TATA Technologies Centre of Excellence Partner Labs</div>
                <p>B.Tech Mech Engineering with specialization in Automobile Engineering | Robotics &amp; Automation| B.Tech Electronics and Communication Engineering (Internet of Things)</p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h4 class="panel-title">
                                Program
                            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="heading">B.Tech Programs</div>
                <div class="sub-heading">Specific specializations in the fields of</div>
                <p>Computer Science and Engineering | Electronics and Communication Engineering | Electronics and Communication Engineering| Mobile Engineering | Information Technology | Mechanical Engineering | Civil Engineering | Electrical Engineering | Biotechnology | Petroleum Engineering</p>
                <div class="heading">B.Tech Industry Collaboration</div>
                <p>B.Tech CSE with Open Specialization in Cloud Computing | Big Data Analytics | Cyber Security | Mobile Computing | Internet of Things | B.Tech EE (Renewable Resources)</p>
                <div class="heading">B.Tech in TATA Technologies Centre of Excellence Partner Labs</div>
                <p>B.Tech Mech Engineering with specialization in Automobile Engineering | Robotics &amp; Automation| B.Tech Electronics and Communication Engineering (Internet of Things)</p>
            </div>
        </div>
    </div>
</div>