<div class="celebration-component">
    <div class="container">
        <div class="celebration-component-wrapper">
            <div class="celebration-section-wrapper">
                <h3> Celebrating <span class="celebration-year-text">25 Years</span></h3>
                <p>The Graphic Era Educational Society, established in 1993, is a non-profit organization that aims to mobilize world class education and generate resources for providing and supporting quality education for all. The society recognizes the right of every individual to lead a life of dignity and self-respect in a just and equitable manner. At the initial phase Graphic Era Society established in 1997 Graphic Era Institute of Technology. Graphic Era Institute of Technology had the distinction of being first Self- financed educational institute in North India, offer engineering courses The Institute was the culmination of the dream of its visionary founder Prof. (Dr) Kamal Ghanshala to change the destiny of thousands of youth by providing an excellent and holistic professional education. He had visualized an educational hub that would cater to academic aspirations of innumerable young.n and women and his vision took a concrete shape in the form of Graphic Era Institute</p>
                <span class="more-information"><a href="#">More Information </a> </span>
            </div>
            <div class="celebration-section-news">
                <h3> News</h3>
                <div class="each-records clearfix">
                    <div class="pull-left">
                        <img alt="image" class="img-responsive" src="images/news-hd-one.jpg">
                    </div>
                    <div class="headlines active pull-left">
                        <p class="bold">News Headlines</p>
                        <p>Headlines of the News is here</p>
                    </div>
                </div>
                <div class="each-records clearfix">
                    <div class="pull-left">
                        <img alt="image" class="img-responsive" src="images/news-hd-two.jpg">
                    </div>
                    <div class="headlines pull-left">
                        <p class="bold">News Headlines</p>
                        <p>Headlines of the News is here</p>
                    </div>
                </div>
                <div class="each-records clearfix">
                    <div class="pull-left">
                        <img alt="image" class="img-responsive" src="images/news-hd-three.jpg">
                    </div>
                    <div class="headlines pull-left">
                        <p class="bold">News Headlines</p>
                        <p>Headlines of the News is here</p>
                    </div>
                </div>
                <div class="each-records clearfix">
                    <div class="pull-left">
                        <img alt="image" class="img-responsive" src="images/news-hd-four.jpg">
                    </div>
                    <div class="headlines pull-left">
                        <p class="bold">News Headlines</p>
                        <p>Headlines of the News is here</p>
                    </div>
                </div>
                <a href="#" class="view-more">More News</a>
            </div>
            <div class="celebration-section-events">
                <h3> Events</h3>
                <div class="each-records clearfix">
                    <div class="pull-left">
                        <img alt="image" class="img-responsive" src="images/news-hd-one.jpg">
                    </div>
                    <div class="headlines pull-left">
                        <p class="bold">News Headlines</p>
                        <p>Headlines of the News is here</p>
                    </div>
                </div>
                <div class="each-records clearfix">
                    <div class="pull-left">
                        <img alt="image" class="img-responsive" src="images/news-hd-two.jpg">
                    </div>
                    <div class="headlines pull-left">
                        <p class="bold">News Headlines</p>
                        <p>Headlines of the News is here</p>
                    </div>
                </div>
                <div class="each-records clearfix">
                    <div class="pull-left">
                        <img alt="image" class="img-responsive" src="images/news-hd-three.jpg">
                    </div>
                    <div class="headlines pull-left">
                        <p class="bold">News Headlines</p>
                        <p>Headlines of the News is here</p>
                    </div>
                </div>
                <div class="each-records clearfix">
                    <div class="pull-left">
                        <img alt="image" class="img-responsive" src="images/news-hd-four.jpg">
                    </div>
                    <div class="headlines pull-left">
                        <p class="bold">News Headlines</p>
                        <p>Headlines of the News is here</p>
                    </div>
                </div>
                <a href="#" class="view-more">More Events</a>
            </div>
        </div>
    </div>
</div>