<h1>Gallery - Research - Placement Stats</h1>
<section class="cards-with-year-section cards-with-year-slider">
    <a href="home.html" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2013</div>
        </div>
    </a>
    <a href="#" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2014</div>
        </div>
    </a>
    <a href="#" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2015</div>
        </div>
    </a>
    <a href="#" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2016</div>
        </div>
    </a>
    <a href="#" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2017</div>
        </div>
    </a>
    <a href="home.html" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2013</div>
        </div>
    </a>
    <a href="#" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2014</div>
        </div>
    </a>
    <a href="#" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2015</div>
        </div>
    </a>
    <a href="#" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2016</div>
        </div>
    </a>
    <a href="#" class="cards-with-year-content">
        <div class="cards-with-year-content-wrap">
            <div class="cards-with-year-textcontent">2017</div>
        </div>
    </a>
</section>
<div class="slider-arrows">
    <a class="next">Next</a>
</div>
<span class="pagingInfo"></span>