<section class="top-recruiters-image-list-wrapper clearfix">
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-01.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-02.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-03.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-04.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-05.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-01.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-02.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-03.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-04.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-05.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-01.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-02.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-03.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-04.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-05.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-01.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-02.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-03.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-04.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-05.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-01.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-02.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-03.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-04.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
    <div class="top-recruiters-image-list-component">
        <div class="top-recruiters-image-list-component-wrapper">
            <div class="top-recruiters-content-page-image">
                <a class="fancybox" href="#" title="">
                                <img src="images/gallery/gallery-image-05.jpg" alt="" />
                            </a>
            </div>
        </div>
    </div>
</section>