<div class="success-stories-wrap">
<div class="text-carousel owl-theme">
    <div class="items">
        <div class="success-stories">
            <div class="success-stories-img"><img src="images/success-stories.jpg"></div>
            <div class="success-stories-content">
            <h3>TITLE GOES HERE</h3>
            <p>It abounds in well equipped & sophisticated laboratories, well stocked libraries to enhance & facilitate the entire teaching and learning process in tune with the noble ambition & aspirations of Prof. Kamal Ghanshala to keep the institution ever growing & developing to attain new heights <a href="#">(READ MORE)</a></p>
             
           
             
         </div>
         </div>
    </div>
    <div class="items">
        <div class="success-stories">
            <div class="success-stories-img"><img src="images/success-stories.jpg"></div>
            <div class="success-stories-content">
            <h3>TITLE GOES HERE</h3>
            <p>It abounds in well equipped & sophisticated laboratories, well stocked libraries to enhance & facilitate the entire teaching and learning process in tune with the noble ambition & aspirations of Prof. Kamal Ghanshala to keep the institution ever growing & developing to attain new heights <a href="#">(READ MORE)</a></p>
             
             
             
         </div>
         </div>
    </div>
</div>

<a href="#" class="more-stories">More Stories</a>
</div>