  <!--enquiry form-->
  <div class="modal"  id="enquiryModel" tabindex="-1" role="dialog" aria-labelledby="enquiryModelLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Enquiry Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form id="enquiryForm">
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label">*First Name</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="First Name">
                                </div>
                                </div>

                                <div class="form-group row">
                                        <label for="name" class="col-sm-4 col-form-label">*Last Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last Name">
                                        </div>
                                        </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label">*Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="mobile" class="col-sm-4 col-form-label">*Mobile</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="mobile" class="form-control" id="mobile" placeholder="Mobile">
                                    </div>
                                </div>

                            

                                <div class="form-group row">
                                    <label for="areaInterest" class="col-sm-4 col-form-label">*Area of Ineterest</label>
                                    <div class="col-sm-6">
                                            <select class="form-control" name="areaInterest" id="areaInterest">
                                                <option value="-1">Default select</option>
                                                <option value="0">Valid</option>
                                            </select>
                                    </div>
                                </div>

                            <div class="form-group row">
                                <label for="country" class="col-sm-4 col-form-label">Country</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="country">
                                        <option value="india">India</option>
                                        <option value="others">Others</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row state-row">
                                <label for="state" class="col-sm-4 col-form-label">State</label>
                                <div class="col-sm-6">
                                        <select class="form-control" id="state">
                                                <option value="-1">State</option>
                                                <option value="1">Karnataka</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group row city-row">
                                <label for="state" class="col-sm-4 col-form-label">City</label>
                                <div class="col-sm-6">
                                        <select class="form-control" id="city">
                                                <option value="-1">City</option>
                                                <option value="1">Others</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="query" class="col-sm-4 col-form-label">*Query</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="query" name="query" placeholder="Query"></textarea>
                                </div>
                            </div>
                               
                           
                           
                          
                            <div class="form-group row">
                              <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                              </div>
                            </div>
                          </form>
            </div>
           
          </div>
        </div>
      </div>


       <!--enquiry form-->